{% extends "base.html" %}

{% load static %}

{% load thumbnail %}

{% load app_tags %}

{% block title %}home{% endblock %}

{% block content %}

<style type="text/css">
	.jumbotron{
		background: url(static/img/one.png);
		color: #fff;
        height: 500px;
        margin-top: 0px;
        margin-bottom: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center bottom;
	}
	hr{
		margin-bottom: 30px;
        margin-top: 30px;
        border-top-color: #D7CCC8;
    }
	.welcome{
		color: #452924;
		font-size: 46px;
		margin-top: 0; 
		text-align: left;
	}
	.home-menu{
		background: url(static/img/img2.png);
        height: 280px;
        padding: 60px 200px;
        background-size: cover;
        background-repeat: no-repeat;
	}
	.home-menu h4{
		text-align: center;
		color: #452924;
	}
	.home-menu h4 > a{
		text-align: center;
		color: #452924;
		padding: 10px 16px;
		font-size: 16px;
		border: 1px solid #452924;
		background-color: transparent;
		border-radius: 3px;
	}
	.home-menu h4 > a:hover{
		border-color: #3E2723;
		color: #3E2723;
	}
	.home-menu p{
		text-align: center;
		margin-bottom: 30px;
	}
	.hour{
		background: #D7CCC8;
		border: 1px solid #452924;
		padding: 10px 15px 15px;
		border-color: #D7CCC8;
	}
	.map{
		border: 1px solid #452924;
		border-color: #D7CCC8;
	}
	.menu{
	}
	/*.carousel-inner .item img{
		background-image: url(static/img/one.png);
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}*/
</style>

<div class="jumbotron" style=" ">
    <div class="container">
        
    </div>
</div>

<!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

     Wrapper for slides 
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="height: 370px;">
            <img src="{% static 'img/fo.png' %}" width="100%" height="400px" alt="...">
        </div>
        <div class="item" style="height: 370px;">
            <img src="{% static 'img/fo2.png' %}" width="100%" height="400px" alt="...">
        </div>
        <div class="item" style="height: 370px;">
            <img src="{% static 'img/fo3.png' %}" width="100%" height="400px" alt="...">
        </div>
    </div>

     Controls 
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>-->

<!--<div class="container-fluid" style="padding: 0;">
	<div class="row">
	    <div class="col-md-12">
		    <div class="time" style="padding: 15px; background: #839531;font-size: 15px;line-height: 24px;color: #fff;font-weight: 700;text-align: center;z-index: 0;background: #839531;">
		        <span>Hours: Mon-Sun 8am - 9pm, Tel: +251 911 00 00 00</span>
            </div>
		</div>
	</div>
</div>-->

<div class="container-fluid" style="padding: 0;">
	<div class="greeting" style="text-align: center; color: #444;padding: 60px 270px;background: #fff; ">
		<h1 style="color: #464646; font-weight: bold; font-size: 36px; line-height: 44px; margin-bottom: 30px;">Welcome to Temsalet Kitchen</h1>
		<p style="font-size: 18px; line-height: 29px; color: #898989; margin: 0px;">Most people say “A Home away From Home.”  Whenever they find a spot <br>that drives the nostalgia away. Especially when lots of places are now emerging here and there to fill in the gap in between our needs to find an escape from the everyday hustle and the desire to keep the feeling of not having moved a muscle away from the coziness of our homes.</p>
		<span class="tbutton" style="display: block;margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: 0 0;margin-top: 30px;margin-bottom: 20px;">
		    <a href="{% url 'app:our_story' %}" style="padding: 15px 20px; border:2px solid #839531; color: #898989; border-radius: 25px; font-size: 18px; text-transform: uppercase;border-color: rgba(137,137,137,.5);display: inline-block;
    position: relative;">Read Our Story <span style="">&raquo;</span></a>
		</span>
	</div>
</div>


<!--<div class="container-fluid" style="padding: 0;">
	<div class="row">
		<div class="col-md-12">
			<div class="menu" style="background: #eaeaea; text-align: center;padding: 60px 270px;">
				<h4>THE MENUS</h4>
                <p>Our kitchen tell a story. The menu is characterized after the great Ethiopian 
                Women who have left remarkable steps others could pick on. We want the menus to 
                give out stories that guests could relate with, along a certain type of food 
                they order. Please see our menu.</p>
                <h5 style="margin-top: 40px;">
                    <a href="{% url 'app:menu_list' %}" style="padding: 10px;border: 1px solid #000;color: #000;">See our menu &raquo;</a>
                </h5>
			</div>
		</div>
	</div>
</div>-->
<div class="container-fluid" style="padding: 0;">
	<div class="row">
	    <div class="col-md-12">
		    <div class="time" style="padding: 30px; background: #839531;font-size: 15px;line-height: 24px;color: #fff;font-weight: 700;text-align: center;background: #839531;background: #464646;">
		        <span>Hours: Mon-Sun 8am - 9pm, Tel: +251 911 00 00 00</span>
            </div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" style="padding-top: 80px; padding-bottom: 80px;">
		<div class="col-md-4">
			<img src="{% static 'img/rec6.jpg' %}" width="320px" height="100%">
		</div>
		<div class="col-md-4">
			<img src="{% static 'img/rec2.jpg' %}" width="320px" height="100%">
		</div>
		<div class="col-md-4">
			<img src="{% static 'img/rec4.jpg' %}" width="320px" height="100%">
		</div>
	</div>
</div>


<div class="container-fluid" style="padding: 0;">
	<div class="row" style="background: #eaeaea;">
	    <div class="col-md-3"></div>
		<div class="col-md-6">
		    <div class="menu" style="text-align: center;padding: 60px 15px; background: url(static/img/restaurant-icon.svg);background-position: center;
    background-repeat: no-repeat;">
		        <h1 style="color: #898989; font-weight: bold; font-size: 36px; line-height: 44px; margin-bottom: 30px;">THE MENUS</h1>
                <p style="font-size: 18px; line-height: 29px; color: #898989; margin:0;">
                Our kitchen tell a story. The menu is characterized after the great Ethiopian 
                Women who have left remarkable steps others could pick on. We want the menus to 
                give out stories that guests could relate with, along a certain type of food 
                they order. Please see our menu.</p>
                <span class="tbutton" style="display: block;margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: 0 0;margin-top: 30px;margin-bottom: 20px;">
                    <a href="{% url 'app:menu_list' %}" style="padding: 15px 20px; border:2px solid #839531; color: #898989; border-radius: 25px; font-size: 18px; text-transform: uppercase;border-color: rgba(137,137,137,.5);display: inline-block;
    position: relative;">See our menu &raquo;</a>
                </span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<!--<div class="container-fluid" style="padding: 0;">
	<div class="row">
		<div class="col-md-12">
			<div class="menu" style="background:#464646; color: #fff; text-align: center;padding: 0px 270px;">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 254.019 254.019" xml:space="preserve" width="512px" height="512px">
				    <g>
				        <path d="M126.514,48.282c-43.428,0-78.738,35.319-78.738,78.738c0,43.389,35.309,78.718,78.738,78.718     c43.389,0,78.738-35.329,78.738-78.708C205.252,83.601,169.932,48.282,126.514,48.282z M126.514,198.898     c-39.647,0-71.879-32.232-71.879-71.869s32.222-71.928,71.879-71.928s71.879,32.29,71.879,71.928     S166.171,198.898,126.514,198.898z M193.352,127.029c0,36.882-29.926,66.808-66.828,66.808     c-36.912,0-66.838-29.936-66.838-66.808c0-36.921,29.936-66.847,66.838-66.847C163.426,60.172,193.352,90.108,193.352,127.029z      M41.308,56.733l0.02,38.836h-0.059c-0.391,12.389-13.971,17.117-13.971,17.117v24.924h0.02l-0.02,57.312     c0,0-5.491,7.093-12.604,0v-82.226h0.166c-8.285-3.527-14.411-4.748-14.802-17.117H0V56.733l6.224-0.029L9.252,94.28H16.6     l0.928-38.348h5.989l0.723,38.348h8.617l1.983-37.547L41.308,56.733L41.308,56.733z M252.1,122.857h-15.232v77.038h-17.596     V54.144h17.596C236.878,54.134,260.844,84.548,252.1,122.857z" fill="#FFFFFF"/>
				    </g>
				</svg>
				<a href="{% url 'app:menu_list' %}" style="position: absolute;top: 46%;left: 46%; font-size: 18px;text-transform: uppercase;">our menu <span>&raquo;</span></a>
            </div>
		</div>
	</div>
</div>-->






<div class="container">
	<div class="row">
	    <div class="col-md-12">
	    	<div class="head" style="text-align: center; padding: 60px 0px;">
	    	    <h1 style="color: #898989; font-weight: bold; font-size: 36px; line-height: 44px; margin-bottom: 30px;">Upcoming Events</h1>
	    	    <p style="font-size: 18px; line-height: 29px; color: #898989; margin: 0px; padding:0px 80px 30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	    		<!--<p style="color: #464646;font-size: 32px;line-height: 40px;text-align: center;margin: 0;letter-spacing: -.02em; margin-bottom: 25px;">Check out what’s coming up in temsalet kitchen</p>-->
	    	    {% show_latest_event 3 %}
	    	</div>
	    </div>
	</div>
</div>





<div class="container">
	<div class="row">
		<div class="col-md-12">
		    <div class="lt-news" style="padding: 80px; border-top: 1px solid #ddd;">
			{% show_latest_news 1 %}
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" style="padding: 0;">
    <div class="mapp" style="margin-bottom: 2px;">
	    <!--<img src="{% static 'img/map.jpg' %}" width="100%" height="">-->
	    <span>
	    	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7881.554744971922!2d38.74082289657737!3d8.992622215561992!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xff2ad08bc1e769cd!2sTemsalet+Kitchen!5e0!3m2!1sen!2s!4v1494591724259" width="1349" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
	    </span>
	</div>
</div>
{% endblock %}

